.main {
	position: relative;
	height: inherit;
}

.topBackground {
	position: absolute;
	top: -50%;
	left: 0;
}

.bottomBackground {
	position: absolute;
	bottom: -50%;
	right: 0;
}

.card {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	width: 500px;
	overflow: hidden;
}

.backgroundPattern {
	width: 100%;
	height: auto;
}
