.main {
	position: relative;
	height: inherit;
}

.topBackground {
	position: absolute;
	top: -50%;
	left: 0;
}

.bottomBackground {
	position: absolute;
	bottom: -50%;
	right: 0;
}

.card {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	width: 400px;
	overflow: hidden;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.backgroundPattern {
	width: 100%;
	height: auto;
}

.title {
	text-align: center;
	font-size: 24px;
	color: var(--color-title);
}

.age {
	font-weight: 400;
	color: var(--color-text);
	margin-left: 15px;
}

.header {
	padding: 30px;
	padding-top: 80px;
	position: relative;
}

.location {
	text-align: center;
	color: var(--color-text);
	margin-top: 10px;
}

.horizontalLine {
	border: none;
	border-top: 2px solid var(--color-text);
}

.footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 30px;
}

.figure {
	color: var(--color-title);
	text-align: center;
}

.figureTitle {
	color: var(--color-text);
	font-size: 14px;
	text-align: center;
	margin-top: 3px;
	letter-spacing: 2px;
}

.victor {
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	border: 5px solid white;
}
